{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ host }}님의 미니홈피</title>
{% endblock title %}

{% block profile_base %}
<div style="height: 300px; width:150px;" >
    <div>
    {% if host.profile_img %}
      <img style="width: 100%; height: 150px;" src="{{ host.profile_img.url }}" alt="host_img"></img>
    {% else %}
      <img style="width: 100%; height: 150px;" src="{% static 'images/기본이미지.png' %}" alt="">
    {% endif %}
    </div>
    <div style="overflow: auto; overflow-x:hidden; height: 150px;">
      {% if home_info %}
        <p style="font-size: 14px; font-family: 'Poor Story', cursive;" class="mt-2 mb-2">{{ home_info.profile_content }}</p>
      {% else %}        
        <p style="font-size: 14px; font-family: 'Poor Story', cursive;" class="mt-2 mb-2">{{ host.username }}님의 미니홈피에 오신 것을 환영합니다.</p>
      {% endif %}
    </div>
  </div>
  
  <div style="font-size: 10px">
    <i style="color: #068cb9" class="fa fa-caret-right"></i><b>&nbsp;HISTORY</b>
    <span style="float: right; font-size: 14px; color: #999999"><i class="fa fa-caret-up"></i>&nbsp;<i class="fa fa-caret-down"></i></span>
  </div>
  <hr>
  <b class="color-blue">{{ host }}</b><span style="color: #b3b3b3; font-size: 12px;">&nbsp;(<i class="fa fa-mars-stroke-v"></i>)</span>
  <div>
    <select name="none" onchange="window.open(value,'_blank');">
        <option>파도타기</option>
      {% for friend in list_friends %}
        <option value="{% url "homepage:index" friend.pk %}">
            {{ friend }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endblock %}

{% block home_title %}
  {{ host.username }}님의 미니홈피 입니다.
{% endblock %}

{% block url %}
  <span style="font-size: 12px;">http://www.cyworld.com/{{ host }}</span>
{% endblock url %}


{% comment %} 방명록 쓰는 칸 {% endcomment %}
{% block content %}
  <form action="" method="POST">
    {% csrf_token %}
    <div class="mt-2" style="padding: 10px 5px; background-color: #e1e5ea; height: 200px;">
      <div style="padding: 5px 5px 0px 5px;">
        <div style="display: flex;">
          <div style="width:200px; height:150px; margin-right: 5px;">
            {% if user.profile_img %}
              <img style="width:200px; height:158px;" src="{{ user.profile_img.url }}" alt="user_img"></img>
            {% else %}
              <img style="width: 100%" src="{% static 'images/기본이미지.png' %}" alt="">
            {% endif %}
          </div>
          <div>
            {{ form }}
          </div>
          <div>
            <button class="btn btn-sm mb-1 mt-1" style="margin-left: 3px; float:right; background-color: white; font-family: 'Poor Story', cursive;">작성</button>
          </div>
        </div>
      </div>
    </div>
    
  </form>

  <hr class="mt-4 mb-3">

  {% comment %} 사용자들이 남긴 방명록들 {% endcomment %}
  {% for article in page_obj %}
    <div style="padding: 5px 10px; margin-top:10px; height: 200px;">
      <div class="d-flex justify-content-between mb-1" style="border-radius:5px;">
        <div>
          <a href="{% url 'homepage:index' article.user.pk %}" style="color: #FF6347; text-decoration:none; margin-left: 5px;">
            <span style="color: black; font-weight: bolder; font-family: 'Poor Story', cursive;">{{ article.user }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
          </a>
          <span style="font-size:10px; font-family: 'Poor Story', cursive;">({{ article.created_at }})</span>
        </div>
        <div class="d-flex flex-row">
          {% comment %} 현재 방명록 글 작성자면 수정, 삭제 가능하도록 구현 {% endcomment %}
          {% if article.user == user %}
          <div class="mx-1">
            <a href="{% url 'guest:update' host.pk article.pk %}">
              <button class="btn btn-sm" style="border-radius: 10px 100px / 120px; background-color: #e1e5ea; font-family: 'Poor Story', cursive;">수정</button>
            </a>
          </div>
          <div>
            <form action="{% url 'guest:delete' host.pk article.pk %}" method="POST">
              {% csrf_token %}
                <button class="btn btn-sm" style="border-radius: 10px 100px / 120px; background-color: #e1e5ea; font-family: 'Poor Story', cursive;">삭제</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      <div style="display: flex;">
        <div style="width:200px; height:150px;">
          {% if article.user.profile_img %}
            <img style="width:200px; height:158px;" src="{{ article.user.profile_img.url }}" alt="article.host.img"></img>
          {% else %}
            <img style="width:200px; height:158px;" src="{% static 'images/기본이미지.png' %}" alt="">
          {% endif %}
        </div>
        <div class="text-break" style="width:355px; height: 158px; overflow-y: scroll; margin-left: 10px; font-family: 'Poor Story', cursive;">
          {{ article.content }}
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="d-flex justify-content-center my-10 mt-3">
    <ul class="step-links pagination pagination-sm" style="background-color:white; border-radius: 30px;">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        

        {% for page in pages_count %}
          {% if page == page_obj.number %}
            <li class="page-item active"><a class="page-link mx-1" href="?page={{ page }}" style="border-radius: 50px; background-color: #CD853F; border:0px;">{{ page }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link mx-1" href="?page={{ page }}" style="border-radius: 50px;">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
           
        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
        {% endif %} 
        
    </ul>
</div>

{% endblock content %}

{% block category %}
  <embed class="menu-item" src="https://www.youtube.com/v/8Ox3fwRuuRA?autoplay=1&version=2&amp;hl=ko_KR&autoplay=1&loop=1&amp;rel=0" type="application/x-shockwave-flash" width="300" height="25" allowscriptaccess="always" allowfullscreen="true" autoplay=1></embed>
  <a href="{% url 'homepage:index' host.pk %}">
    <div class="menu-item" style="top: 48px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">홈</div>
  </a>
  <div class="menu-item" style="top: 86px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">프로필</div>
  <div class="menu-item" style="top: 124px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">사진첩</div>
  <a href="{% url 'guest:index' host.pk %}">
    <div class="menu-item menu-selected" style="top: 162px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">방명록</div>
  </a>
  {% if user == host %}
    <a href="{% url 'friends:index' host.username %}">
    <div class="menu-item" style="top: 200px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">추천일촌</div>
    </a>
  {% else %}
  {% endif %}
{% endblock %} 
