{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>{{ host }}님의 미니홈피</title>
{% endblock title %}

{% block profile_base %}
  <div style="height: 300px; width:150px;">
    <div>
      {% if user.profile_img %}
        <img style="width: 100%;" src="{{ user.profile_img.url }}" alt="user_img"></img>
      {% else %}
        <img style="width: 100%" src="{% static 'images/기본이미지.png' %}" alt="">
      {% endif %}
    </div>
    <div>
      <p class="red-color" style="font-size: 14px; font-family: 'Poor Story', cursive;">개발자가 좋아하는<br>리듬은<br>Algorithm<br>ㅎㅎ</p>
    </div>
    </div>
    <div style="font-size: 10px">
      <i style="color: #068cb9" class="fa fa-caret-right"></i><b>&nbsp;HISTORY</b>
      <span style="float: right; font-size: 14px; color: #999999"><i class="fa fa-caret-up"></i>&nbsp;<i class="fa fa-caret-down"></i></span>
    </div>
    <hr>
    <b class="color-blue" style="font-family: 'Poor Story', cursive;">{{ host }}</b><span style="color: #b3b3b3; font-size: 12px;">&nbsp;(<i class="fa fa-mars-stroke-v"></i>)</span>
    <div style="margin-top: 15px;"><select style="width: 100%; font-family: 'Poor Story', cursive;"><option>파도타기</option></select></div>
{% endblock %}


{% comment %} 방명록 쓰는 칸 {% endcomment %}
{% block content %}
<form action="{% url 'guest:update' pk article_pk %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <button class="btn btn-warning btn-sm mt-1" style="font-family: 'Poor Story', cursive; float: right;">제출</button>
</form>
{% endblock content %}



{% block category %}
  <embed class="menu-item" src="https://www.youtube.com/v/8Ox3fwRuuRA?autoplay=1&mute=1&version=2&amp;hl=ko_KR&autoplay=1&loop=1&amp;rel=0" type="application/x-shockwave-flash" width="300" height="25" allowscriptaccess="always" allowfullscreen="true" autoplay=1></embed>
  <a href="{% url 'homepage:index' host.pk %}">
    <div class="menu-item" style="top: 48px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">홈</div>
  </a>
  <div class="menu-item" style="top: 86px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">프로필</div>
  <div class="menu-item" style="top: 124px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">사진첩</div>
  <a href="{% url 'guest:index' host.pk %}">
    <div class="menu-item" style="top: 162px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">방명록</div>
  </a>
  <a href="{% url 'friends:index' user.username %}">
    <div class="menu-item" style="top: 200px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">추천일촌</div>
  </a>
{% endblock %} 

