{% extends 'base.html' %}
{% load static %}

{% block style %}
.homepage-content-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #fff;
  height: calc(100% - 30px);
  overflow: scroll;
  overflow-x:hidden;
}

{% endblock %}
{% block title %}
  {{ host.username }}님의 미니홈피
{% endblock %}
{% block profile_base %}
  <div style="height: 300px; width:150px;" >
    <div>
    {% if host.profile_img %}
      <img style="width: 100%" src="{{ host.profile_img.url }}" alt="host_img"></img>
    {% else %}
      <img style="width: 100%" src="{% static 'images/기본이미지.png' %}" alt="">
    {% endif %}
    </div>
    <div style="overflow: scroll; overflow-x:hidden;">
      {% if home_info %}
        <p style="font-size: 14px" class="mt-2 mb-2">{{ home_info.profile_content }}</p>
      {% else %}        
        <p style="font-size: 14px" class="mt-2 mb-2">{{ host.username }}님의 미니홈피에 오신 것을 환영합니다.</p>
      {% endif %}
    </div>
  </div>
  <div style="font-size: 10px">
    <i style="color: #068cb9" class="fa fa-caret-right"></i><b>&nbsp;HISTORY</b>
    <span style="float: right; font-size: 14px; color: #999999"><i class="fa fa-caret-up"></i>&nbsp;<i class="fa fa-caret-down"></i></span>
  </div>
  <hr>
  <b class="color-blue">{{ host }}</b><span style="color: #b3b3b3; font-size: 12px;">&nbsp;(<i class="fa fa-mars-stroke-v"></i>)</span>

  <select name="none" onchange="window.open(value,'_blank');">
      <option>파도타기</option>
    {% for friend in list_friends %}
      <option value="{% url "homepage:index" friend.pk %}">
          {{ friend }}
      </option>
    {% endfor %}
  </select>
{% endblock %}

{% block home_title %}
  {% if home_info %}
    {{ home_info.title }}
  {% else %}
    {{ host.username }}님의 미니홈피 입니다.
  {% endif %}
{% endblock %}

{% block url %}
  <a href="{% url 'homepage:index' host.pk %}" style="text-decoration:none;"> http://www.cyworld.com/{{ host.id }} </a>
{% endblock url %}

{% block content %}
  <div class="homepage-content-box" sytle="overflow:scroll;">
    <div style="display: flex; font-size: 14px;" >
      <div class="col" style="display: flex; flex-direction: column;">
      <span class="content-title">최근 게시물</span>
      <hr style="margin-block-end: 0px; width: 100%;">
      <div class="flex-middle" style="color: #999; background: rgb(248, 248, 248)">순간이 담긴 사진을<br>친구들과 함께 나눠보세요</div>
      </div>
      <div class="col" style="padding-bottom: 5px">
      <span class="content-title" style="color: #fff;">더미</span>
      <hr class="dashed">
      <div class="row">
        <div class="col">
        &nbsp;사진첩&nbsp;&nbsp;<span class="board-count">0/0</span>
        </div>
        
      </div>
      <hr class="dashed">
      <div class="row">
        <div class="col">
        &nbsp;방명록&nbsp;&nbsp;<span class="board-count">0/0</span>
        </div>
      </div>
      
      </div>
    </div>
    <div style="margin-top: 20px;">
      <span class="content-title">미니룸</span>
      <img style="width: 100%; height: 280px;" src="{% static 'images/miniroom.jpg' %}"></img>
  <div>
    <br>
    <span style="color:crimson; font-size:15px; font-weight: bold;">일촌평</span>
    <br>
    {% if request.user.is_authenticated %}
      <form action="{% url 'homepage:comments_create' host.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit">
      </form>
    {% endif %}
    {% for comment in comments %}
      <p>{{ comment.content }} (<a href="{% url 'homepage:index' request.user.pk %}" style="text-decoration:none;">{{ comment.writer }}</a>) <small style="color:gray;">{{ comment.created_at | date:'Y.m.d' }}</small></p>
    {% endfor %}

  </div>
  </div>
{% endblock %}

{% block category %}
  <embed class="menu-item" src="https://www.youtube.com/v/8Ox3fwRuuRA?autoplay=1&version=2&amp;hl=ko_KR&autoplay=1&loop=1&amp;rel=0" type="application/x-shockwave-flash" width="300" height="25" allowscriptaccess="always" allowfullscreen="true" autoplay=1></embed>
  <a href="{% url 'homepage:index' host.pk %}">
    <div class="menu-item menu-selected" style="top: 48px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">홈</div>
  </a>
  <div class="menu-item" style="top: 86px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">프로필</div>
  <div class="menu-item" style="top: 124px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">사진첩</div>
  <a href="{% url 'guest:index' host.pk %}">
    <div class="menu-item" style="top: 162px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">방명록</div>
  </a>
  {% if user == host %}
    <a href="{% url 'friends:index' host.username %}">
    <div class="menu-item" style="top: 200px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">추천일촌</div>
    </a>
  {% else %}
  {% endif %}
{% endblock %} 
