{% extends 'base.html' %}


{% block profile_base %}
<!--요기다가 프로필 자리 수정-->
<p>ㅎㅇ</p>
{% endblock %}

{% block content %}
<!--요기다가 큰 네모박스 수정-->
<p>ㅎㅇㅎㅇ</p>
{% endblock %}

{% block category%}
<!-- 이곳에 자기 app에 맞는 category 넣어주세용. 
  자기 app을 selected 하기.-->
  {% comment %}
  <div class="menu-item menu-selected" onclick="handleClickMenu(this)">홈</div>
  <div class="menu-item" style="top: 48px" onclick="handleClickMenu(this)">프로필</div>
  <div class="menu-item" style="top: 86px" onclick="handleClickMenu(this)">다이어리</div>
  {% endcomment %}
{% endblock %}