{% extends 'base.html' %}
{% load static %}

{% block profile_base %}
  <div style="height: 300px; width:150px;" >
    <div>
    {% if host.profile_img %}
      <img style="width: 100%" src="{{ host.profile_img.url }}" alt="host_img"></img>
    {% else %}
      <img style="width: 100%" src="{% static 'images/기본이미지.png' %}" alt="">
    {% endif %}
    </div>
    <div style="overflow: scroll; overflow-x:hidden;">
      {% if home_info %}
        <p style="font-size: 14px" class="mt-2 mb-2">{{ home_info.profile_content }}</p>
      {% else %}        
        <p style="font-size: 14px" class="mt-2 mb-2">{{ host.username }}님의 미니홈피에 오신 것을 환영합니다.</p>
      {% endif %}
    </div>
  </div>
  <div style="font-size: 10px">
    <i style="color: #068cb9" class="fa fa-caret-right"></i><b>&nbsp;HISTORY</b>
    <span style="float: right; font-size: 14px; color: #999999"><i class="fa fa-caret-up"></i>&nbsp;<i class="fa fa-caret-down"></i></span>
  </div>
  <hr>
  <b class="color-blue">{{ host }}</b><span style="color: #b3b3b3; font-size: 12px;">&nbsp;(<i class="fa fa-mars-stroke-v"></i>)</span>
  <div style="margin-top: 15px;"><select style="width: 100%"><option>파도타기</option></select></div>
{% endblock %}

{% block home_title %}
  {{ host.username }}님의 미니홈피 입니다.
{% endblock %}

{% block content %}
<!--요기다가 큰 네모박스 수정-->
<div class="row">
  <div class="col-md-8">
    <div class="btn-group mb-2 mb-md-0 btn-block">
      <form action="{% url 'friends:index' request.user.username %}">
        <button type="submit" class="btn btn-primary">나의 일촌</button>
      </form>
      <form action="{% url 'friends:location' request.user.username %}">
        <button type="submit" class="btn btn-outline-primary">당근 일촌</button>
      </form>
      <form action="{% url 'friends:recommend' request.user.username %}">
        <button type="submit" class="btn btn-primary">추천 일촌</button>
      </form>
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.js"></script>
<script>
$(function() {        
    // Geolocation API에 액세스할 수 있는지를 확인
    if (navigator.geolocation) {
        //위치 정보를 얻기
        navigator.geolocation.getCurrentPosition (function(pos) {
            $('#latitude').html(pos.coords.latitude);     // 위도
            $('#longitude').html(pos.coords.longitude); // 경도
            document.querySelector('#latitude_submit').value = pos.coords.latitude
            document.querySelector('#longitude_submit').value = pos.coords.longitude
        });
    } else {
        alert("이 브라우저에서는 Geolocation이 지원되지 않습니다.")
    }
});
</script>
<hr>
{% comment %} <p>나의 위치: <span id="latitude"></span>, <span id="longitude"></span></p> {% endcomment %}
{% comment %} <ul>
    <li>위도:<span id="latitude"></span></li>
    <li>경도:<span id="longitude"></span></li>
</ul> {% endcomment %}

<form action="{% url 'friends:save_location' request.user.username %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="latitude_submit" name="latitude_submit">
    <input type="hidden" id="longitude_submit" name="longitude_submit">
    {% comment %} <button class="btn btn-primary">내 위치 저장하기</button> {% endcomment %}
    <button type="submit" class="btn mb-2 mb-m-0 btn-tertiary btn-block">
      나의 위치(<span id="latitude"></span>, <span id="longitude"></span>)
      <span>를 저장하기</span> 
      <div class="icon d-flex align-items-center justify-content-center">
        <i class="ion-ios-cloud-download"></i>
      </div>
    </button>
</form>
<hr>

<div id="map" style="width:100%;height:65%;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ key_js }}"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
 
// 마커를 표시할 위치와 title 객체 배열입니다 
var positions = [
    {
        title: '카카오', 
        latlng: new kakao.maps.LatLng(33.450705, 126.570677)
    },
    {
        title: '생태연못', 
        latlng: new kakao.maps.LatLng(33.450936, 126.569477)
    },
    {
        title: '텃밭', 
        latlng: new kakao.maps.LatLng(33.450879, 126.569940)
    },
    {
        title: '근린공원',
        latlng: new kakao.maps.LatLng(33.451393, 126.570738)
    }
];



// 마커 이미지의 이미지 주소입니다
var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    
for (var i = 0; i < positions.length; i ++) {
    
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35); 
    
    // 마커 이미지를 생성합니다    
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });
}
</script>
<hr>
{% endblock %}

{% block category %}
  <embed class="menu-item" src="https://www.youtube.com/v/8Ox3fwRuuRA?autoplay=1&mute=1&version=2&amp;hl=ko_KR&autoplay=1&loop=1&amp;rel=0" type="application/x-shockwave-flash" width="300" height="25" allowscriptaccess="always" allowfullscreen="true" autoplay=1></embed>
  <a href="{% url 'homepage:index' host.pk %}">
    <div class="menu-item" style="top: 48px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">홈</div>
  </a>
  <div class="menu-item" style="top: 86px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">프로필</div>
  <div class="menu-item" style="top: 124px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">사진첩</div>
  <a href="{% url 'guest:index' host.pk %}">
    <div class="menu-item" style="top: 162px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">방명록</div>
  </a>
  {% if user == host %}
    <a href="{% url 'friends:index' host.username %}">
    <div class="menu-item menu-selected" style="top: 200px; style="top: 86px; font-family: 'Poor Story', cursive;"" onclick="handleClickMenu(this)">추천일촌</div>
    </a>
  {% else %}
  {% endif %}
{% endblock %} 
