{% extends 'base.html' %}
{% load static %}

{% block style %}
.scroll-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #fff;
  height: calc(100% - 70px);
  overflow: scroll;
  overflow-x:hidden;
}
{% endblock %}

{% block profile_base %}
 <div style="height: 300px; width:150px;" >
    <div>
    {% if host.profile_img %}
      <img style="width: 100%; height: 150px;" src="{{ host.profile_img.url }}" alt="host_img"></img>
    {% else %}
      <img style="width: 100%; height: 150px;" src="{% static 'images/기본이미지.png' %}" alt="">
    {% endif %}
    </div>
    <div style="overflow: auto; overflow-x:hidden; height: 150px;">
      {% if home_info %}
        <p style="font-size: 14px; font-family: 'Poor Story', cursive;" class="mt-2 mb-2">{{ home_info.profile_content }}</p>
      {% else %}        
        <p style="font-size: 14px; font-family: 'Poor Story', cursive;" class="mt-2 mb-2">{{ host.username }}님의 미니홈피에 오신 것을 환영합니다.</p>
      {% endif %}
    </div>
  </div>
  <div style="font-size: 10px">
    <i style="color: #068cb9" class="fa fa-caret-right"></i><b>&nbsp;HISTORY</b>
    <span style="float: right; font-size: 14px; color: #999999"><i class="fa fa-caret-up"></i>&nbsp;<i class="fa fa-caret-down"></i></span>
  </div>
  <hr>
  <b class="color-blue">{{ host }}</b><span style="color: #b3b3b3; font-size: 12px;">&nbsp;(<i class="fa fa-mars-stroke-v"></i>)</span>
  <div>
    <select name="none" onchange="window.open(value,'_blank');">
        <option>파도타기</option>
      {% for friend in list_friends %}
        <option value="{% url "homepage:index" friend.pk %}">
            {{ friend }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endblock %}

{% block home_title %}
  {{ host.username }}님의 미니홈피 입니다.
{% endblock %}

{% block content %}
<!--요기다가 큰 네모박스 수정-->
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group mb-2 mb-md-0 btn-block">
        <form action="{% url 'friends:index' request.user.username %}">
          <button type="submit" class="btn btn-primary">나의 일촌</button>
        </form>
        <form action="{% url 'friends:recommend' request.user.username %}">
          <button type="submit" class="btn btn-outline-primary">추천 일촌</button>
        </form>
        <form action="{% url 'friends:location' request.user.username %}">
          <button type="submit" class="btn btn-primary">당근 일촌</button>
        </form>
      </div>
    </div>
  </div>
  <hr>

<div class="scroll-box" >
  {% for key, value in list_recommend.items %}
    {% comment %} <p>{{ key }}님 : 함께아는 일촌 {{ value }}명</p> {% endcomment %}
    <div>
      <form action="{% url 'accounts:follow' key.pk %}" method="POST">
        {% csrf_token %}
        {% comment %} <button>일촌맺기</button> {% endcomment %}
        <button type="submit" class="btn mb-2 mb-m-0 btn-quarternary btn-block"><span>{{ key }}님(함께아는 일촌 {{ value }}명)과 일촌맺기</span> 
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="ion-ios-heart"></i>
          </div>
        </button>
      </form>
    </div>
  {% endfor %}
  <hr>
</div>
{% endblock %}


{% block category %}
  <embed class="menu-item" src="https://www.youtube.com/v/8Ox3fwRuuRA?autoplay=1&version=2&amp;hl=ko_KR&autoplay=1&loop=1&amp;rel=0" type="application/x-shockwave-flash" width="300" height="25" allowscriptaccess="always" allowfullscreen="true" autoplay=1></embed>
  <a href="{% url 'homepage:index' host.pk %}">
    <div class="menu-item" style="top: 48px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">홈</div>
  </a>
  <div class="menu-item" style="top: 86px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">프로필</div>
  <div class="menu-item" style="top: 124px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">사진첩</div>
  <a href="{% url 'guest:index' host.pk %}">
    <div class="menu-item" style="top: 162px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">방명록</div>
  </a>
  {% if user == host %}
    <a href="{% url 'friends:index' host.username %}">
    <div class="menu-item menu-selected" style="top: 200px; font-family: 'Poor Story', cursive;" onclick="handleClickMenu(this)">추천일촌</div>
    </a>
  {% else %}
  {% endif %}
{% endblock %} 
